@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 1;
    margin: 1;
    font-family:  "Playfair Display", serif;
}
header{
background-color: black ;
height: 10vh;
}
main{
   background-color: white;
   min-height: 80vh; 
}
footer {
    background-color: black;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color:white;
    }
}
