@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 1;
    margin: 1;
    font-family:  "Playfair Display", serif;
}
header{
background-color: rgb(236, 210, 236) ;
height: 10vh;
}
main{
   background-color: rgb(243, 235, 245);
   min-height: 80vh; 
}
footer {
    background-color: rgb(241, 220, 227);
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: rgb(93, 81, 173);
    }
}
