main{
    padding: 10px;
}
form{
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}
input{
    font-size: 15px;
    min-width: 400px;
    padding: 5px;
}
button{
    background-color: rgb(250, 245, 245);
    border: 0.1 px solid whitesmoke;
    padding: 5px;
    /*margin-top: 3px;*/
    font-size: 16px;
    border-radius: 5px;
    &:hover{
        background-color: rgb(243, 209, 215);
    }
}
