.div-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 1px solid rgb(194, 185, 243);
    flex-direction: column;

    h1{
        font-size: 90px;
    }
}