nav {
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img {
    width: 90px;
}

.div-img-menu {
    display: flex;

}