nav {
    height: 100%;
    border: 1px solid rgb(109, 52, 109);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
div{
   border: 1px solid rgb(235, 215, 218);
}
img{
    width: 100px;
}